<title>Dashboard Dürrenried</title>

<div class="row">

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="https://dürrenried.de/index.html">
            <img src="res\img\wappen_maro.png" alt="Wappen" style="width:40px;">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href=".\news.html">News</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" href=".\Quellen.html">Quellen</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" href=".\Business.html">Firmen</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" href=".\Corona.html">Corona News</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" href=".\Kontakt.html">Kontakt</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" href=".\impressum.html">Impressum</a>
                </li>
                <li>
                <li class="navbar-item">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cookieModal">
                        Cookies
                    </button>
                </li>
                </li>

            </ul>
        </div>
    </nav>

</div>

<!--Modal für Cookies-->

<div class="modal fade" id="cookieModal" tabindex="-1" aria-labelledby="cookieModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cookieModalLabel">Cookies auf dieser Website</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Schließen"></button>
            </div>
            <div class="modal-body">
                <script id="CookieDeclaration"
                    src="https://consent.cookiebot.com/54398687-fc29-4d9e-a241-1c22e5a5eefa/cd.js"
                    type="text/javascript" async>
                    </script>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="jumbotron text-center"
        style="background-image: url(res/img/duerrenriednacht.jpg); background-size: cover; height: 300px; background-repeat: no-repeat; background-position: center center">
        <div class="row">

            <br>
            <br>
        </div>
        <div class="row">
            <h1>Dashboard Dürrenried</h1>
        </div>
        <div class="row">
            <br>
            <br>
        </div>
    </div>



</div>